@import url(http://fonts.googleapis.com/css?family=Lato:100,400);

html{
	position: relative;
	height: 100%;	
}

body{
	margin:0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: #212121;
	position: relative;
	min-height: 100%;
}

header{
	background-color: #FF5722;
	text-align: center;
	color: white;
	padding-top: 10px;
	font-weight: lighter;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	width: 100%;
	margin: 0;
}

header h1{
	margin: 0;
	padding: 0;
	font-size: 20px;
}

footer{
	background-color: #FF5722;
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer a{
	text-decoration: none;
	border-bottom: 1px dashed #fff;
	color: #fff;
}

.main{
	height: auto;
}

.tabs{
	list-style: none;
	text-align: center;
	width: 100%;
	margin:0;
	padding: 0;
	position: relative;
	padding-top: 20px;
}

.tabs li{
	display: inline-block;
	margin:0;
	padding: 0;
	padding-bottom: 10px;
	cursor: pointer;
	overflow-x: hidden;
	position: relative;
	margin-bottom: -4px;
	font-weight: 400;
}

.tabs li.medio{
	width: 50%;
}

/*.tabs li.active{
	font-weight: bold;
	border-bottom: 4px solid white;
}*/

.tabs li.left, .tabs li.right{
	font-weight: 100;
}

.tabs li:after{
	content: "";
	content: "";
	position: absolute;
	bottom: 0px;
	height: 4px;
	width: 100%;
	background-color: white;
	transition: all 0.3s;
	left: 0;
	right: 0;
}

.tabs li.left:after{
	left: 100%;
	right: -100%;
}

.tabs li.right:after{
	right: 100%;
	left: -100%;
}

.toaster{
	position: fixed;
	bottom: 40px;
	width: 100%;
	text-align: center;
	z-index: 9999999999;
}

.toast{
	display: inline-block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(50,50,50,0.8);
	width: auto;
	padding: 10px 20px;
	color: white;
	transition: all 0.3s;
	/*bottom: -50px;*/
	opacity: 0;
	border-radius: 999px;
	z-index: 9999999999;
}

.toast .close{
	margin-right: -5px;
	margin-left: 5px;
	opacity: 0.5;
} 

.toast .close:hover{
	opacity: 1;
}

.toast.show{
	/*bottom: 0;*/
	opacity: 1;
}

.center{
	text-align: center;
}

.tabcontainer, .tabcontainer > div{
	position: absolute;
	min-height: 100%;
	transition: all 0.3s;
	left: 0;
	right: 0;
	overflow-x: hidden;
	
}

.tabcontainer{
	min-height: calc(100% - 112px);	
}

.tabcontainer > div.leaving{
	position: absolute;
}

.tabcontainer > div.right{
	left: 100%;
	right: -100%;
}

.tabcontainer > div.left{
	right: 100%;
	left: -100%;
}


.tabslide{
	transition: all 0.5s;
	visibility: collapse;
	opacity: 0;
	width: 100%;
	min-height: 100%;
	position: relative;
}

.tabslide.active{
	visibility: visible;
	opacity: 1;
}

button{
	font-size: 1.5em;
	padding: 10px 30px;
	border: none;
	outline: none;
	background-color: #FFC107;
	color: #212121;
	cursor: pointer;
}

button:hover{
	opacity: 0.8;
}

.loadedimg{
	width: 90%;
	min-height: 200px;
	background-color: #B6B6B6;
}

.piecehub{
	width: 100%;
	height: 0;
	background-color: #313131;
	position: absolute;
	bottom: 0;
	box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
	text-align: center;
	box-sizing: border-box;
	padding: 0px;
	/*overflow-x: scroll;
	overflow-y: visible;*/
	overflow-x: scroll;
	white-space: nowrap;
	transition: all 0.3s;
}

.piecehub.active{
	height: 82px;
	padding: 10px 0px;
}

.buttonup{
	z-index: 999;
	background-color: #FFC107;
	width: 50px;
	height: 50px;
	font-size: 40px;
	border-radius: 45px;
	position: absolute;
	/*margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;*/
	right: 20px;
	bottom: 10px;
	text-align: center;
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
	vertical-align: middle;
	transition: all 0.3s;
	cursor: pointer;
}

.buttonup.active{
	bottom: 60px;
}

.buttonup i{
	transition: all 0.3s;
	display: table-cell;
	left: 13px;
	top: 3px;
	position: absolute;
	opacity: 0;
}

.buttonup i.two{
	left: 13px;
	top: 10px;
	font-size: 30px;
	opacity: 1;
}

.buttonup.active i{
	top: 10px;
	transform: rotate(180deg);
	opacity: 1;
}

.buttonup.active i.two{
	opacity: 0;
}

.piecehub div{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: #414141;
	margin: 0 5px;
	box-sizing:border-box;
	z-index: 99;
}

.piecehub div.selected{
	border: solid 2px red;
}

.puzzleholder{
	margin-top: 10px;
	text-align: center;
}

.puzzleholder .puzzle{
	position: absolute;
	width: 480px;
	height: 360px;
	position: relative;
	background-color: #f9f9f9;
	margin: 10px;
	box-sizing: content-box;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	border-radius: 2px;
}

button.check{
	margin: 0;
	margin-top: 10px;
	background-color: transparent;
	color: #FFC107;
	border: 1px solid #FFC107;
	font-weight: 100;
	letter-spacing: 2px;
}

.splash{
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: calc(100% - 112px);	
	background-color: #fff;
	transition: all 0.5s;
	opacity: 1;
	visibility: visible;
}

.splash.fade{
	opacity: 0;
	visibility: collapse;
}

.hiddenCanvas{
	display: none;
}

.loadingdiv{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.6);
	z-index: 999999999999;
	transition: all 0.5s;
	text-align: center;
	vertical-align: middle;
	visibility: collapse;
	opacity: 0;
}

.loadingdiv.show{
	visibility: visible;
	opacity: 1;
}

.loadingdiv i{
	font-size: 100px;
	color: white;
	position: relative;
	top: calc(50% - 50px);
}

.windiv{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.9);
	z-index: 999999999999;
	transition: all 0.5s;
	text-align: center;
	vertical-align: middle;
	visibility: collapse;
	opacity: 0;
	color: white;
	font-size: 200%;	
}

.windiv.show{
	visibility: visible;
	opacity: 1;
}

.windiv h3{
	padding: 0;
	margin: 0;
	position: relative;
	margin-top: 25%;
}

.windiv button{
	font-size: 50%;	
}
